html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#p5-canvas-container {
  cursor: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: -10;
}

.main-container {
  background-color: bisque;
}

.headline-container {
  margin:auto;
  text-shadow: 4px 4px 5px red;

  font-family: cursive;
  font-size: x-large;
  width: 800px;

  text-align: center;
}

.title-container {
  font-size: xx-large;
  font-style: italic;
  font-family: cursive;
  display: flex;
  justify-content: center;
  color: darkred;
  text-shadow: 4px 4px 5px rgb(22, 21, 20);
}

.scissor {
  position: relative;
  display: flex;
  align-self: flex-start;
  margin-left: 35%;
}

.taskandnote-container {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: fantasy;
  font-size: larger;
  text-shadow: 4px 4px 5px rgb(136, 255, 0);



}



.goBack1 {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15%;
  margin-left: 5%;
  color: black;
  font-family: fantasy;
  font-size: larger;
  text-shadow: 4px 4px 5px rgb(136, 255, 0);

}

.goForth1 {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-right: 5%;
  align-items: flex-end;
  color: black;
  font-family: fantasy;
  font-size: larger;
  text-shadow: 4px 4px 5px rgb(136, 255, 0);
}



.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: fantasy;
  font-weight: bold;
  font-size: larger;
  text-shadow: 4px 4px 5px rgb(136, 255, 0);
  margin-top: 200px;
}

.explanation-container {
 
  position: fixed;
  right: 25%;
  top: 40%;
  margin: 0;
  font-family: fantasy;
  font-weight: bold;
  font-size: 300%;
  text-shadow: 4px 4px 5px rgb(136, 255, 0);
}

.playagain-container {
  position: fixed;
  margin: auto;
  display: flex;
  align-self: center;
  right: 49%;
  top: 80%;
  font-family: cursive;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 4px 4px 5px rgb(136, 255, 0);
}

canvas {
  margin: auto;
}

.box1 {
  position: relative;
  margin-top: 100px;
  left: 120px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 2px 2px 3px rgb(214,18,43);
}

.box2 {
  display: relative;
  margin-left: 50px;
  margin-top: 50px;


  
  top: 200px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 2px 2px 3px rgb(214,18,43);
}

.box3 {

  position: relative;
  left: 320px;
  top: 500px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 2px 2px 3px rgb(214,18,43);
}

.box4 {

  position: relative;
  left: 420px;
  top: 600px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 2px 2px 3px rgb(214,18,43);
}
.box5{
  position: relative;
  left: 800px;
  margin-top: 0px;
  
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 2px 2px 3px rgb(214,18,43);
}


#successSentence{
  display: none;
  font-family: fantasy;
  color: aliceblue;
  font-weight: bold;
  font-size: medium;
  text-shadow: 4px 4px 5px rgb(255,255,255);
}
.box6{
  position: relative;
  margin-left: 100px;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 2px 2px 3px rgb(214,18,43);
}